---
layout: layouts/base.njk
---
<h1>Farewell</h1>

<bloquote>
<p>
  — Слушай, не хочешь попробовать с нами записывать подкаст. Веселый про фронтенд разработку?<br />
  — Я не против)
</p>
</bloquote>

<h2>Наша первая тема</h2>
<p>
Погода в мае очаровательная. Уже месяц как невозможно просто привыкнуть, что достаточно просто накинуть футболку или рубашку и можно уже открывать дверь прямиком в подъезд. Жил я от работы недалеко: буквально пятнадцать минут пешком и ты уже стоишь в лифте питерского офиса Яндекса и Яндекс.Денег. Солнце ещё заливало своим персиковым цветом мокрый от недавнего дождя асфальт, а его лучи закатным светом засыпали тень громады с иллюстрациями Бенуа, что виднелась впереди за парком.
<p>
Я работаю в Яндекс.Деньгах уже почти год и для меня в эти майские дни наступает новая неосознаваемая в тот момент эпоха. Полученное за день до этого поздно вечером сообщение застает меня уже ближе к отходу ко сну, но, разумеется, утром я ответил одобрительно, поскольку, кажется еще с далекой школьной скамьи был легок на подъем и что-то предпринимать, да еще и веселое — это ли не вызов.
<p>
Размеренными шагами, двигаясь вдоль парка, направляюсь в офис, на первую запись... Время вечернее — часов семь. Близость к офису позволило разделить нахождение в офис на две фазы — до ужина и после. Ребятам, жителям центра Северной Столицы повезло, конечно, чуточку меньше. Хотя, как сказать: творожная запеканка тогда еще работающего в бизнес-центре Яндекса кафе Casual — это достойное продолжение вечера для запоздалого работяги.
<p>
Захожу в лифт, как всегда отхожу ближе к стеклянной стенке, обращенной к вечернему перекрестку, где как всегда толпятся и сигналят уставшие водители. Почему-то сейчас в голове картинка полупустого Пискаревского, впрочем, может оно и так: впоследствии восточный берег был сильно застроен, что вполне могло превратить спокойные вечерние улицы в шумные бесконечные пробки. Взгляд бросается на очередных залетающих в отъезжающий наверх лифт. Я всегда удивлялся двигавшимся в сторону лифта наверх людям в такое время: ну кому в здравом уме захочется пересекать турникет в сторону работы после шести? Но Яндекс для многих был скорее творческой мастерской, чем бездушным цехом: хочется верить, что это и сейчас так...

Лифт просигналил, шестой этаж. Двигаюсь через уже пустой ресепшн, СКУД запищал, как самому старому доброму приятелю. По коридору, словно по сценарию, мимо, в сторону лестницы на пятый этаж, неторопливо идет Лёха:
<p>
— О, ты вовремя. Хорошо что я тебя позвал. Я считаю, что обязательно в команде должен быть как минимум один ответственный человек!<br />
— Да, ну может быть...<br />
— И записываться будем в одно и тоже время!
<p>
На нем, как всегда с недавних пор, смешной свиттер с изображением полковника Сандерса в фартуке, который спереди выглядит по-рекламному привычно, а на спине сатирично чешет голый волосатый зад. Глухой и тихий деньговый коридор сменяет эхо лестничного пролета. За окном цветет весна лужайками внутреннего парка, а мы стихийно пробираемся через гулкие ступени к очередному СКУДу, в яркий коридор, напоминающий мир, виднеющийся скозь разрушенную стену из "Кто подставил Кролика Роджера". По мне, так пятый этаж питерского офиса остается чем-то непревзойденно ярким, и впечатляющим: наверное необычный формат переговорок в виде огромных часов, пиксельных стен и не менее огромного Pacman-а усиливало впечатление.
<p>
— Так, ну чё там.<br />
— Пошли, они еще пока записываются.
<p>
Многие уже наверное забыли, но до времен "Ночного фронтенда" был подкаст разговорного толка записываемый по схеме трио: Рома Понамарев, Вадим Яловенко и Андрей Мелихов. Назывался этот подкаст также, как и сообщество для переводов технический статей, организованное ребятами — Девшахта. В тот день у ребят была очередная запись и мы с Лехой и Сашей ждали когда освободится техника для записи, а именно микрофон. Ждали в курилке. Я человек не курящий, но тогда и не подозревал, что проведу в курилке столько клёвых часов, что буду сотни раз даже и забывать про то, что я не курю — курилка пятого этажа по информативности и интеллектуальности явно не уступала, находящейся на этом же этаже библиотеке с книжками по XSLT на полках.<br />
Спустя какое-то время в курилку заходит Рома и мы отвлекаемся от рабочих тем и начинаем обсуждать подкаст.
<p>
— Чё, трелло? Это же менеджерская туфта!
<p />
Даже не вериться, но первое время мы даже успевали 