---
layout: layouts/home.njk
eleventyNavigation:
  key: Resume
  order: 3
---
<svg display="none">
  <defs>
		<path d="M12 2C8.13 2 5 5.13 5 9c0 4.28 7 13 7 13s7 -8.72 7 -13c0 -3.87 -3.13 -7 -7 -7zm0 9c-1.66 0 -3 -1.34 -3 -3s1.34 -3 3 -3s3 1.34 3 3s-1.34 3 -3 3z" id="icon_location" />
	</defs>
</svg>
<h1>{{ resume.bio.name }}</h1>
<h3>{{ resume.bio.title }}</h3>
<p style="display: flex; align-items: center;">
	<svg style="display: inline; margin-right: 8px;" viewBox="0 0 24 24" width="24" height="24">
		<use xlink:href="#icon_location" fill="var(--text-color)" />
	</svg>
	{{ resume.bio.location.city }}
</p>
<h2>Contact</h2>
<a href="mailto:{{ resume.bio.email }}" class="email">{{ resume.bio.email }}</a>
<h2>Links</h2>
<div>
	{% for profile in resume.bio.profiles %}
		<a href="{{ profile.url }}" target="_blank">{{ profile.url }}</a><br />
	{% endfor %}
</div>

<h2>Summary</h2>
<ul>
	{% for highlight in resume.bio.highlights %}
		<li>
			{{ highlight }}
		</li>
	{% endfor %}
</ul>

<h2>Experience</h2>
{% for work in resume.work %}
	<a href="{{ work.url }}" class="work__url" target="_blank"><h3>{{ work.company }}</h3></a>
	{% if work.summary %}<p>{{ work.summary }}</p>{% endif %}
	{% for position in work.positions %}
		<div class="work__header">
			<strong>{{ position.position }}</strong>
			{% if position.startDate %}
				<p>{{ position.startDate | htmlDateStringShort }} - {%if position.endDate %}{{ position.endDate | htmlDateStringShort }}{% else %}Present{% endif %}</p>
			{% endif %}
		</div>
		{% if position.summary %}<p>{{ position.summary }}</p>{% endif %}
		{% if position.highlights %}
			<ul>
				{% for highlight in position.highlights %}
					<li>
						{{ highlight | safe }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	{% endfor %}
{% endfor %}

<h2>Education</h2>
<div class="work__header">
	<h3><a href="{{resume.education.url}}">{{ resume.education.institution }}</a>, {{ resume.education.studyType }}</h3>
	<p>{{ resume.education.startDate | htmlDateStringShort }} - {%if resume.education.endDate %}{{ resume.education.endDate | htmlDateStringShort }}{% else %}Present{% endif %}</p>
</div>
{% if resume.education.summary %}<p>{{ resume.education.summary }}</p>{% endif %}
{% if resume.education.highlights %}
	<ul>
		{% for highlight in resume.education.highlights %}
			<li>
				{{ highlight }}
			</li>
		{% endfor %}
	</ul>
{% endif %}
