@font-face {
	font-family: 'Fira Sans';
	src: local('Fira Sans'),
			 local('Fira'),
			 url('./assets/FiraSans-Regular.woff2') format('woff2'),
			 url('./assets/FiraSans-Regular.woff') format('woff');
	font-weight: normal;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	font-size: 1.25rem;
	font-family: 'Fira Sans';
}

.wrapper {
	box-sizing: border-box;
	min-height: 100%;
	margin-bottom: -100px;
	padding: 100px 10% 0;
}

.push {
	height: 100px;
}

.link_to_github {
	background-image: url('/assets/github.svg');
}

.link_to_twitter {
	background-image: url('/assets/twitter.svg');
}

.headline::after {
	content: '';
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.headline__names {
	margin-left: calc(75px + 1em);
}

.headline__name {
	margin-top: 0;
	margin-bottom: 0.25em;
}

.headline__position {
	margin: 0;
}

.headline__avatar {
	margin-right: 1em;
}

.avatar {
	width: 85px;
	height: 85px;
	border-radius: 50%;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	background-color: rgba(0, 0, 0, 0.2);
	float: left;
	animation-name: fade-in;
	animation-duration: 0.3s;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.position {
	color: #939393;
}

.bio {
	max-width: 900px;
	font-size: 2rem;
	line-height: 1.5;
}

.bio__link {
	display: inline-block;
	text-decoration: none;
	padding: 5px;
}

.bio__link:focus {
	background-color: transparent;
}

.bio__link:visited {
	background-color: rgb(0, 0, 238);
}

.bio__link_type_company {
	color: white;
	background-color: orange;
}

.bio__link_type_company:focus {
	color: orange;
}

.bio__link_type_podcast {
	color: white;
	background-color: red;
}

.bio__link_type_podcast:focus {
	color: red;
}

.bio__link_type_email {
	color: white;
	background-color: indigo;
}

.bio__link_type_email:focus {
	color: indigo;
}

.footer {
	box-sizing: border-box;
	padding-left: 10%;
	max-width: 900px;
	height: 100px;
	display: flex;
}

.footer__links {
	display: flex;
	align-items: center;
}

.footer__link {
	padding: 10px;
	color: black;
}

.social__links {
	display: flex;
	align-items: center;
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.social__link {
	display: inline-block;
	margin: 10px 10px;
}

.social__anchor {
	display: block;
	width: 40px;
	height: 40px;
	background-size: contain;
	background-repeat: no-repeat;
}

@media (max-width: 650px) {
	.wrapper {
		padding-top: 50px;
		text-align: center;
	}

	.headline__avatar {
		float: none;
		margin-right: 0;
		margin-bottom: 1em;
	}

	.headline__names {
		margin-left: 0;
	}

	.bio {
		font-size: 1.25rem;
	}

	.footer {
		padding-left: 0;
		justify-content: center;
	}
}
