:root {
  --width-tablet: 768px;
  --width-phone: 320px;

  --bg-color-white-primary: #FFFFFF;
  --bg-color-dark-primary: #181818;

  --typo-color-white-primary: #000000;
  --typo-color-dark-primary: #FFFFFF;
  --typo-color-dark-link: #CCCCCC;

  --typo-size-s: 16px;
  --typo-size-m: 18px;
  --typo-size-l: 20px;
  --typo-size-xl: 24px;
}

@font-face {
  font-family: Drogowskaz;
  src: url(/fonts/Drogowskaz.ttf);
  font-display: swap;
}

@font-face {
  font-family: Jost;
  src: url(/fonts/JostMedium.ttf);
  font-weight: 500;
  font-display: fallback;
}

body {
  margin: 0;
  width: 100%;
  font-family: Jost, sans-serif;
  font-size: var(--typo-size-l);
  font-weight: 500;
  background-color: var(--bg-color-white-primary);
  color: var(--typo-color-white-primary);
}

main {
  line-height: 1.5;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

h1 {
  font-family: Drogowskaz, sans-serif;
  font-size: 2em;
}

pre {
  font-weight: 600;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark-primary);
    color: var(--typo-color-dark-primary);
  }

  a {
    color: var(--typo-color-dark-link);
  }
}

@media (max-width: 768px) {
  body {
    font-size: var(--typo-size-m);
  }
}

@media (max-width: 320px) {
  body {
    font-size: var(--typo-size-s);
  }
}
