---
permalink: feed.xml
eleventyExcludeFromCollections: true
date: Last Modified
metadata:
  author:
    email: alexshoronov@gmail.com
---
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
  <channel>
    <title>{{ site.title }}</title>
    <description>{{ site.description }}</description>
    <language>{{ site.lang }}</language>
    <link>{{ site.url }}</link>
    {%- for post in collections.posts.slice(0,1) | sort(true, false, 'published_at') %}
    <lastBuildDate>{{ post.published_at | date }}</lastBuildDate>
    {%- endfor %}
    <atom:link href="{{ site.url + page.url }}" rel="self" type="application/rss+xml" />
    {%- for post in collections.posts %}
    <item>
      <title>{{ post.title }}</title>
      <link>{{ site.url + post.url }}</link>
      <description><![CDATA[ {{ post.html | htmlToAbsoluteUrls(site.url + page.url) | safe }} ]]></description>
      <pubDate>{{ post.published_at | date }}</pubDate>
      <guid>{{ site.url + post.url }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>
