---
layout: layouts/base.njk
---
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
<div class="h-entry hentry">
	<div class="postpage">
		{% if title %}
			<h1>{{ title }}</h1>
		{% endif %}
		{% block preface %}{% endblock %}
		{% block content %}{% endblock %}
		{{ content | safe }}
	</div>

	<div class="post-metadata">
		<p class="post-metadata__taglist">
			{%- for tag in tags | filterTagList %}
				{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
				<span class="post-metadata__tag">
					<a href="{{ tagUrl }}">#{{ tag }}</a>{%- if not loop.last %}, {% endif %}
				</span>
			{%- endfor %}
		</p>
		<time class="post-metadata__date dt-published published" datetime="{{ page.date | htmlDateString }}">
			{{ page.date | readableDate }}
		</time>
	</div>
</div>

{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
		<ul class="links-nextprev">
			{%- if previousPost %}<li>Previous: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
			{%- if nextPost %}<li>Next: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
		</ul>
	{%- endif %}
{%- endif %}
