{% from "partials/icon.njk" import icon %}

<header class="site-head">
    <div class="container">
        <div class="site-mast">
            <div class="site-mast-left">
                {% include 'partials/navigation.njk' %}
            </div>
            <div class="site-mast-right">
                {% if site.twitter %}
                    <a href="https://twitter.com/{{ site.twitter | replace("@", "") }}" class="site-nav-item" target="_blank" rel="noopener noreferrer">
                        {{ icon({ id: 'twitter' }) }}
                    </a>
                {% endif %}
                <a class="site-nav-item" href="{{ site.url }}feed.xml" target="_blank" rel="noopener noreferrer">
                    {{ icon({ id: 'rss' }) }}
                </a>
            </div>
        </div>
    </div>
</header>
