<nav class="site-nav">
    {% if site.navigation %}
        <div class="site-nav-left">
            {% for item in site.navigation %}
                <a {% if page.url == item.url %}aria-current="page"{% endif %} class="site-nav-item" href="{{ item.url }}">
                    {{ item.label }}
                </a>
            {% endfor %}
        </div>
    {% endif %}
</nav>
